The requirements for the Shopify App Analysis project was to use Power BI to answer business questions using the Shopify dataset. These questions were split into 3 categories App Landscape, Reviews, and App Reviews. For each section specific visuals were made that showed  trends relating to that category that could be used in making a business decision. Screenshots of each visual were turned in as there is not currently a way for the instructors to grade an entire Power BI file. 